# ----------------------------------
# Data, Backups
# ----------------------------------
*~
*.bak
*.swp
*.dat
*.root
*.log
*.pdf
*.csv

# ----------------------------------
# Compression
# ----------------------------------
*.zip
*.tar
*.tar.xz
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar

# ----------------------------------
# Images
# ----------------------------------
*.jpg
*.jpeg
*.gif
*.png
*.svg
*.ico

# ----------------------------------
# IDE Settigs
# ----------------------------------
*.idea
*.ipynb_checkpoints
*.virtual_documents

# ----------------------------------
# Python
# ----------------------------------
*.npy
*.npz
*.pyc
*.pyo
*.pickle
*.pkl

# ----------------------------------
# Saved Models and Checkpoints
# ----------------------------------
*.h5
*.sif
*.ckpt

# ----------------------------------
# Directories
# ----------------------------------
__pycache__





